html {
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

.department--list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.department--list-item {
  margin: 0;
  display: inline-block;
  border-top: 5px solid;
  border-left: 2px solid;
  height: fit-content;
}

.department--list-item--text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
