:root {
  --desktop-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header--wrapper {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
}

.header {
  width: var(--desktop-width);
  display: flex;
  align-items: center;
}

.header--title {
  margin-right: auto;
}

.header--nav--link {
  text-decoration: none;
  margin-left: 30px;
}

.content--wrapper {
  padding-top: 40px;
}

.department--list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: var(--desktop-width);
  display: flex;
}

.department--list-item {
  margin: 0;
  padding-left: 5px;
  border-top: 5px solid;
  border-left: 2px solid;
  height: fit-content;
}

.department--list-item--text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
}
